<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Camera</string>
	<string>Photo Gallery Image Picker</string>
	<string>Barcode Scanner</string>
	<string>QR Code Scanner</string>
	<string>PDF Scanner</string>
	<string>Video Recording</string>
	<string>Panorama</string>
</array>
</plist>
